#content {
    width:100%;
    text-align: center;
}

#inner-content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.bottom {
    border-bottom: 1px solid black;
}

.no-events {
    pointer-events: none;
}

div {
    margin: .1em;
    padding: .1em;
}

div.spaced {
    margin: 1em;
    border: 1px solid grey;
}

